{% extends 'blog/base.html' %}

{% block content %}
    <div class="soccer">
        {% if soccer.created_date %}
            <div class="date">
                {{ soccer.created_date }}
            </div>
        {% endif %}
            <h1><a href="">{{ soccer.title }}</a></h1>
        <div class="text">
        <p>{{ soccer.text|linebreaksbr }}</p>
        </div>
    </div>
<hr>
<a class="btn btn-default" href="{% url 'blog:add_comment_to_post' pk=soccer.pk %}">Add comment</a>
{% for comment in soccer.comments.all %}
    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
        <a class="btn btn-default" href="{% url 'blog:comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
{% endblock %}
