{% extends 'blog/base.html' %}

{% block content %}
    <div class="soccer">
        {% if soccer.created_date %}
            <div class="date">
                {{ soccer.created_date }}
            </div>
        <a class="btn btn-default" href="{% url 'blog:soccer_edit' pk=soccer.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
<a class="btn btn-default" href="https://ko.wikipedia.org/wiki/%EB%B2%A8%EA%B8%B0%EC%97%90" title="벨기에">벨기에</a>
<a class="btn btn-default" href="https://ko.wikipedia.org/wiki/%ED%94%84%EB%9E%91%EC%8A%A4" title="프랑스">프랑스</a>
<a class="btn btn-default" href="https://namu.wiki/w/%EB%B8%8C%EB%9D%BC%EC%A7%88">브라질</a>
<a class="btn btn-default" href="https://ko.wikipedia.org/wiki/%ED%8F%AC%EB%A5%B4%ED%88%AC%EA%B0%88">포르투칼</a>
        <h1><a href="" >{{ soccer.title }}</a></h1>
        <div class="po">
        <p>{{ soccer.text|linebreaksbr }}</p>
        </div>
        {% else %}
        {% endif %}
    </div>
<hr>
<div class="comment">
        <a class="btn btn-default" href="{% url 'blog:add_comment_to_post' pk=soccer.pk %}">응원 한마디!</a><br><br>
</div>
{% for comment in soccer.comments.all %}

    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
<a class="btn btn-default" href="{% url 'blog:comment_remove' pk=comment.pk %}">삭제</a>
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
{% endblock %}
