{% extends 'blog/base.html' %}

{% block content %}
    <div class="soccer">
        {% if soccer.created_date %}
            <div class="date">
                {{ soccer.created_date }}
            </div>
        <a class="btn btn-default" href="{% url 'blog:soccer_edit' pk=soccer.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <h1><a href="" >{{ soccer.title }}</a></h1>
        <p>{{ soccer.text|linebreaksbr }}</p>
        {% else %}
        <a class="btn btn-default" href="{% url 'blog:soccer_new' pk=soccer.pk %}" >수정</a>
        {% endif %}
    </div>

<hr>
<div class="comment">
        <a class="btn btn-default" href="{% url 'blog:add_comment_to_post' pk=soccer.pk %}">댓글 작성</a><br><br>
</div>
{% for comment in soccer.comments.all %}

    <div class="comment">
        <a class="btn btn-default" href="{% url 'blog:comment_remove' pk=comment.pk %}">댓글 삭제</a><br>
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
<a class="btn btn-default" href="{% url 'blog:comment_remove' pk=comment.pk %}">삭제</a>
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
{% endblock %}
